.site-wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.warning {
    display: none;
}
.container-mainscreen {
    max-width: 1154px;
    margin: 0 auto;
    position: relative;
}
.container-center {
    max-width: 1150px;
    margin: 0 auto;
    position: relative;
}