.secret {
    min-height: 806px;
    background: url('../img/secret/secret__bg.png') no-repeat top right;
    &__wrapper {
        position: relative;
        display: flex;
        padding-left: 98px;
    }
    &__text {
        margin-top: 183px;
        color: $white-color;
    }
    &__title {
        min-width: 850px;
    }
    &__descr {
        max-width: 554px;
        margin-top: 38px;
        font-weight: 600;
        font-size: 17px;
        line-height: 24px;
        &_big {
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
        }
    }
    &__photo {
        position: absolute;
        top: 40px;
        right: -160px;
        width: 558px;
        height: 673px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}